services:
  - type: web
    name: seller-backend
    env: python
    region: singapore
    buildCommand: "pip install -r requirements.txt"
    startCommand: "gunicorn backend.wsgi:application --timeout 120"
    envVars:
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
      DJANGO_DEBUG: False
      DJANGO_ALLOWED_HOSTS: seller-backend.onrender.com
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_SSL_REQUIRE: "True"
      CLOUDINARY_URL: ${CLOUDINARY_URL}
      FRONTEND_URL: https://your-frontend.vercel.app
