services:
  - type: web
    name: seller-backend
    env: python
    region: singapore
    buildCommand: "pip install -r requirements.txt"
    startCommand: >
      bash -c "
      python manage.py migrate &&
      python manage.py shell -c '
from django.contrib.auth.models import User;
User.objects.filter(username=\"admin\").exists() or User.objects.create_superuser(\"naveedkhan\", \"naveed@coneio.com\", \"naveed@123")
' &&
      gunicorn backend.wsgi:application --timeout 120
      "
    envVars:
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
      DJANGO_DEBUG: False
      DJANGO_ALLOWED_HOSTS: localhost,127.0.0.1,sellerapp-backend-lzm3.onrender.com
      DATABASE_URL: ${DATABASE_URL}   # your Neon DB URL
      CLOUDINARY_URL: ${CLOUDINARY_URL}
      FRONTEND_URL: https://coneio-sellerapp.vercel.app
      AZURE_CONNECTION_STRING_EMAIL: ${AZURE_CONNECTION_STRING_EMAIL}
      AZURE_SENDER_ADDRESS: ${AZURE_SENDER_ADDRESS}
